div {
    font-family: 'Roboto', sans-serif;
}

.header-section{
    background-color: #363535;
    padding-bottom: 10px;
}

.header-content-left {
    width: 300px;
    padding: 30px;
    text-align: center;
}

#website-title {
    width: 70%;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0 auto;
    text-align: left;
}

#website-desc {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    color: #e5e7eb;
}

div .col-md-6 {
    color: #fff;
}

.nav .navbar-default {
    background-color: disabled;
    height: 60px;
}

.navbar-header {
    width: max-content;
}

.navbar .navbar-brand {
    color: #f9faf8;
    font-size: 24px;
}

.links-right {
    color: #e5e7eb;
    font-size: 18px;
}

.header-content-right {
    text-align: center;
}

.img-desc {
    width: 100%;
}

#placeholder-text {
    position:absolute;
    top:25vh;
    left:0;
    right:0;
}

.showcase-feature {
    width: auto;
    margin: 20px 0;
}

.feature-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.information-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

div .jumbotron {
    width: 60%;
    height: auto;
    margin: 40px auto;
    padding: 80px;
    text-align: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

div .ui.inverted.segment {
    background-color: #3882f6;
    width: 60%;
}

div, .text-container {
    width: 100%;
    text-align: justify;
}

div .btn-primary {
    background-color: #3882f6;
}

div .ui.inverted.white.button {
    float: right;
    width: fit-content;
    margin: 5vh auto;
}

.text {
    margin-left: 40px;
}

footer {
    width: 100%;
    background-color: #1f2937;
    height: 100px;
}

 #copyright-text {
    width: max-content;
    margin: 10vh 40vw;
    color: #e5e7e9;
}
