div {
    font-family: 'Roboto', sans-serif;
}

.header-section{
    background-color: #363535;
    padding-bottom: 10px;
}

.header-content-left {
    width: 300px;
    padding: 30px;
    text-align: center;
}

#website-desc {
    width: 70%;
    margin: 0 auto;
}

div .col-md-6 {
    color: #fff;
}

.nav .navbar-default {
    background-color: disabled;
}

.navbar .navbar-brand {
    color: #fff;
}

.links-right {
    color: #fff;
}

.header-content-right {
    text-align: center;
}

.img-desc {
    width: 100%;
}

#placeholder-text {
    position:absolute;
    top:25vh;
    left:0;
    right:0;
}

.feature-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.showcase-feature {
    width: auto;
    margin: 20px 0;
}

div .jumbotron {
    width: 60%;
    height: auto;
    margin: 40px auto;
    padding: 80px;
    text-align: center
}

div .ui.inverted.segment {
    background-color: #3882f6;
    width: 60em;
}

div #text-container {
    width: 60%;
}

div .btn-primary {
    background-color: #3882f6;
}

div .ui.inverted.blue.button {
    float: right;
    margin-bottom: 20px;
}