.header-section{
    background-color: #363535;
    padding-bottom: 10px;
}

.header-content-left {
    width: 300px;
    padding: 30px;
    text-align: center;
}

div .col-md-6 {
    width: 50%;
    color: #fff;
}

.nav .navbar-default {
    background-color: disabled;
}

.navbar .navbar-brand {
    color: #fff;
}

.links-right {
    color: #fff;
}

.header-content-right {
    text-align: center;
}

.img-desc {
    width: 100%;
}

#placeholder-text {
    position:absolute;
    top:25vh;
    left:0;
    right:0;
}
